*{
	margin: 0px;
	padding: 0px;
	/*border: 1px solid red;*/
	
}
p{
	text-align: justify;
	text-indent: 20px;
	margin: 0px 10px 5px 10px;
	font-size: 18px;
	line-height: 30px;
}


/*Cabeçalho*/

header{
	height: 200px;
}
header #headesq{
	float: left;
	height: 200px;
	width: 45%;
	min-width: 40%;
	background-color: yellow;
	animation-name: animaesq;
	animation-duration: 7s;
}
header #headesq h1{
	color: white;
	display: block;
	margin-top: 60px;
	margin-left: 150px;
	font-size: 40px;
	letter-spacing: 5px;
}
header #headdir{
	float: left;
	background: linear-gradient(to top ,#3CB371, #006400) ;
	height: 200px;
	width: 55%;
	min-width: 55%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
}


/*link cabeçalho*/

header #headdir div{
	margin-top: 20px;
	flex-basis: 200px;
	height: 50px;
	
}
a{
	text-decoration: none;
	
}

header #headdir div a{
	padding: 25px  10px;
	margin-top: 10px;
	margin-left: 70px;
	font-size: 20px;
	color: white;
}
header #headdir div a:hover{
	background-color: green;
	color: yellow;
	cursor: pointer;
}


/*Conteudo*/

body{
	min-width: 1100px;
}
#container{
	margin: 0 auto;
	width: 1080px;
	height: 500px;
}
#container #conteudo{
	width: 60%;
	min-width: 40%;
	background-color: #E5E4E2;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 70px;
	border: 1px solid black;
	padding-bottom: 20px;

}


#container h2{
	background-color: #6B8E23;
	color: white;
	margin-bottom: 10px;
	padding: 10px 0px;
}
#container #conteudo h2{
	text-align: center;
}
#container #conteudo ol{
	margin: 0px 10px 15px 67px;
}
#container #conteudo ol li{
	margin: 10px 10px 5px 0px;
	font-size: 17px;
	line-height: 25px;
}


/* Lista Ordenada */

.titulo-vantagem, .titulo-desvantagem{
	font-size: 20px;
	text-transform: uppercase;
	margin: 30px 10px 10px 30px;
}
p.titulo-vantagem span{
	border-bottom: 1px solid green;
}
p.titulo-desvantagem span{
	border-bottom: 1px solid red;
}
p.titulo-desvantagem, p .titulo-vantagem{
	margin-top: 40px;
	margin-bottom: 10px;
}


/*Lateral*/

#container aside{
	width: 25%;
	min-width: 15%;
	float: left;
	background-color: #F3F3F3;
	margin-top: 20px;
	border: 1px solid black;
}
#container aside h2{
	border-bottom: 2px solid black;
}
ul{
	
}
#container aside Li{
	margin-left: 20px;
}


/*Lateral link*/
#container aside a{
	color: black;
}
#container aside a:hover{
	border-bottom: 1px solid black;
}


/* Rodapé */

footer{
	clear: both;
	height: 100px;
	background-color: #DEB887;
	padding-top: 40px;
}
footer p{
	text-align: center;
}


/* Imagens */

img{
	height: 300px;
	width: 400px;
	border: 5px solid #DEB887;
	margin: 40px 0px;
	margin-left: 140px;
}


/* Animação */

@keyframes animaesq{					
	From{   /*estado inicial*/
		background-color: grey;
}
	To{       /*estado final */
		background-color: yellow;
}
}


/*--------------------------- Todas as Abas --------------------*/

/*Cadastrar*/


#container-cadastrar{
	clear: both;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87 url("https://th.bing.com/th/id/OIP.E8JIH5odB9u6zJhKfY1S_gHaDG?pid=ImgDet&w=3440&h=1440&rs=1") no-repeat center;
	width: 70%;
	min-width: 700px;
	height: 500px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 70px;
	text-align: center;
}
#container-cadastrar #conteudo-cadastrar img.foto-cadastrar{
	width: 120px;
	height: 120px;
	margin-top: -20px;
	margin-left: 0px;
	margin-bottom: 30px;
	border: none;
}
#container-cadastrar #conteudo-cadastrar input{
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-top: 40px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
	
}
#container-cadastrar #conteudo-cadastrar input.gmail{
	background-image: url("img-cadastrar/icone-usuario.png");
}
#container-cadastrar #conteudo-cadastrar input.senha{
	background-image: url("img-cadastrar/icone-cadeado.png");
}
#container-cadastrar #conteudo-cadastrar input.submit{
	color: #fff;
	background-color: #f79300;
	border: 1px solid #db7d00;
	padding: 5px 20px;
	height: 45px;
	width: 90%;
	background: linear-gradient(to bottom, #721A62, #E816C2FF);
}

#container-cadastrar #conteudo-cadastrar legend{
	font-size: 30px;
	font-family: Garamond, serif;
	color: white;
}


/* Feedback */

#container #conteudo-feedback{
	width: 1000px;
	background-color: #E5E4E2;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 70px;
	border: 1px solid black;
	padding-bottom: 20px;
}
#container #conteudo-feedback h2{
	text-align: center;
	font-size: 30px;
}
#container #conteudo-feedback h3{
	margin-left: 10px;
	color: #0F3C36;
	margin-top: 20px;
}


#container #conteudo-feedback fieldset {
	margin: 10px 0 10px 10px;
	padding: 10px;
	border: 1px solid #ccc;
	padding-top: 10px;
	background: linear-gradient(to bottom,#0F3C36,#1C7569);
}
#container #conteudo-feedback legend {
	font-weight: bold;
	margin-top: 10px;
	font-size: 20px;
	color: white;
}
#container #conteudo-feedback label {
	display: block;
	cursor: pointer;
	color: white;
	margin-top: 10px;
}
#container #conteudo-feedback input{
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#container #conteudo-feedback input[type=""] {
	width: 20em;
}
#container #conteudo-feedback input[type="submit"]{
	margin-left: 125px;
	margin-top: 10px;
}
#container #conteudo-feedback textarea{
	max-height: 150px;
	min-width: 300px;
	max-width: 150px;
	min-height: 150px;
}

#container #conteudo-feedback img#img-feedback{
	float: right;
	border: none;
	margin-right: 100px;
}

/*Class*/

.estilo{
	font-family: "Brush Script MT", sans-serif;
	font-size: 25px;
}
.borda-bottom{
	border-bottom: 3px solid black;
	font-size: 25px;
}
#referencias a:link, #referencias a:visited{
	text-decoration: none;
	color: #582B52;
}